%h4 #{link_to_function "[-]", "workforchange('sar','sar_changer','[+]','[-]')", :id => "sar_changer"} Spectrum Acquisition Run
%table.my_table.inner#sar
  - sars.each do |sar|
    %tr
      %td.title Fraction
      %td= sar.fraction
    %tr
      %td.title Instrument
      %td= sar.instrument
    %tr
      %td.title Ionization
      %td= sar.ionization
    %tr
      %td.title Analyzer
      %td= sar.analyzer
    %tr
      %td.title Spectra File
      %td= sar.spectra_file

  -#%h4  #{link_to_function "fold", "workforchange('sar','sar_changer','unfold','fold')", :id => "sar_changer"} Spectrum Acquisition Run
