-# I could show this by default and then hide it 
- sars.each do |sar|
  -#%a{:href => "#", :data => {'sar-id' => "#{sar.id}"} } > Spectra Acquisition Run Data #{sar.id}
  = link_to "> Spectra Acquisition Run Data", '#', :data => {'sar-id' => "#{sar.id}"}, remote: true
  %table#sar.inner{:data => {'sar-id' => "#{sar.id}"}}
    %tr
      %td.title Fraction
      %td= sar.fraction
    %tr
      %td.title Instrument
      %td= sar.instrument
    %tr
      %td.title Ionization
      %td= sar.ionization
    %tr
      %td.title Analyzer
      %td= sar.analyzer
    %tr
      %td.title Spectra File
      %td= sar.spectra_file


