%tr
  %td{:colspan => 2}
    -# sip_mods should only be datatable when there are more than, say 5 modifications
    = link_to "> Searched Modifications", '#', :data => {'sip-mods-id' => "#{sip.id}"}, class: "inner_link", remote: true
    %table#sip_mods.inner{:data => {'sip-mods-id' => "#{sip.id}"}, :class => if sip.searched_modifications.count > 5 then 'dataTable' end}
      %thead
        %tr
          %th= "mass delta"
          %th= "fixed"
          %th= "residue"
          %th= "accession"
          %th= "type of modification"
      %tbody
        - sip.searched_modifications.each do |mod|
          %tr
            %td.center= mod.mass_delta
            %td.center= mod.is_fixed
            %td.center= mod.residue
            %td.center= mod.unimod_accession
            - if mod.unimod_accession =~ /^UNIMOD/
              %td.center= UnimodCvTerm.where(accession: mod.unimod_accession)[0].name
            - elsif mod.unimod_accession =~ /^MS/
              %td.center= PsiMsCvTerm.where(accession: mod.unimod_accession)[0].name
