= link_to "> Search Database(s)", '#', :data => {'sdb-id' => "#{si_id}"}, remote: true
- sdbs.each do |sdb|
  %table#search_databases.my_table.inner{:data => {'sdb-id' => "#{si_id}"}}
    %tr
      %td.title Search database ID
      %td= sdb.sdb_id
    %tr
      %td.title Name
      %td= sdb.name
    %tr
      %td.title Version
      %td= sdb.version
    %tr
      %td.title Release date
      %td= sdb.release_date
    %tr
      %td.title Number of sequences
      %td= sdb.number_of_sequences
    %tr
      %td.title Original location
      %td= sdb.location
