%tr
  %td{:colspan => 2}
    -#%a{:href => "#", :data => {'sip-up-id' => "#{sip.id}"} } > User Params
    = link_to "> User Params", '#', :data => {'sip-up-id' => "#{sip.id}"}, class: "inner_link", remote: true
    %table#sip_up.inner{:data => {'sip-up-id' => "#{sip.id}"}}
      - sip.sip_user_params.each do |up|
        %tr
          %td.title= up.name
          %td= up.value
