-#Aqui para casa SI puedo contar cuantos sii son decoy (Ver mzidentml.pdf punto 7.5)
%table#si_table.my_table
  %tr
    %td.title.si Spectrum Identification ID
    %td.si= spectrum_identification.si_id
  - if spectrum_identification.name
    %tr
      %td.title Spectrum Identification Name
      %td= spectrum_identification.name
  - if spectrum_identification.activity_date
    %tr
      %td.title Spectrum Identification Activity Date
      %td= spectrum_identification.activity_date
  -unless spectrum_identification.spectra_acquisition_runs.blank?
    %tr
      %td{:colspan => 2}
        = render partial: "input_spectra", locals: {sars: spectrum_identification.spectra_acquisition_runs}
        
  -unless spectrum_identification.spectrum_identification_protocol.blank?
    %tr
      %td{:colspan => 2}
        = render partial: "spectrum_identification_protocol", locals: {sip: spectrum_identification.spectrum_identification_protocol}

  -unless spectrum_identification.search_databases.blank?
    %tr
      %td{:colspan => 2}
        = render partial: "search_databases", locals: {si_id: spectrum_identification.id, sdbs: spectrum_identification.search_databases}

  -unless spectrum_identification.spectrum_identification_list.blank? #can this be blank?
    %tr
      %td{:colspan => 2, :style=> "text-align:center"}
        =  link_to 'Spectrum Identification Results', spectrum_identification_results_path(spectrum_identification.id), id: "si_#{spectrum_identification.id}_results", class: "flat_link"

