%a{:href => "#", :data => {'sip-id' => "#{sip.id}"} } > Spectrum Identification Protocol
%table#sip.my_table.inner{:data => {'sip-id' => "#{sip.id}"}}
  %tr
    %td.title Analysis Software
    %td= sip.analysis_software
  %tr
    %td.title Search Type
    %td= sip.search_type
  %tr
    %td.title Threshold
    %td= sip.threshold
  %tr
    %td.title Parent Tolerance (+)
    %td= sip.parent_tol_plus_value
  %tr
    %td.title Parent Tolerance (-)
    %td= sip.parent_tol_minus_value
  %tr
    %td.title Fragment Tolerance (+)
    %td= sip.fragment_tol_plus_value
  %tr
    %td.title Fragment Tolerance (-)
    %td= sip.fragment_tol_minus_value

  -# maybe put psi cv terms and user params in sendos partials?

  -unless sip.sip_psi_ms_cv_terms.blank?  
    %tr
      %td{:colspan => 2}
        %a{:href => "#", :data => {'sip-cvp-id' => "#{sip.id}"} } > PSI-MS CV Params
        %table#sip_cvp.my_table.inner{:data => {'sip-cvp-id' => "#{sip.id}"}}
          - sip.sip_psi_ms_cv_terms.each do |cvp|
            %tr
              %td.title= cvp.psi_ms_cv_term_accession
              %td= PsiMsCvTerm.where(accession: cvp.psi_ms_cv_term_accession)[0].name

  -unless sip.sip_user_params.blank?    
    %tr
      %td{:colspan => 2}
        %a{:href => "#", :data => {'sip-up-id' => "#{sip.id}"} } > User Params
        %table#sip_up.my_table.inner{:data => {'sip-up-id' => "#{sip.id}"}}
          - sip.sip_user_params.each do |up|
            %tr
              %td.title= up.name
              %td= up.value
              
  -unless sip.searched_modifications.blank?    
    = render partial: "searched_modifications", locals: {sip: sip} 
   
          
          
