%h4 Spectrum Identification Protocol
%table.my_table.inner
  %tr
    %td.title Analysis Software
    %td= sip.analysis_software
  %tr
    %td.title Search Type
    %td= sip.search_type
  %tr
    %td.title Threshold
    %td= sip.threshold
  %tr
    %td.title Parent Tolerance (+)
    %td= sip.parent_tol_plus_value
  %tr
    %td.title Parent Tolerance (-)
    %td= sip.parent_tol_minus_value
  %tr
    %td.title Fragment Tolerance (+)
    %td= sip.fragment_tol_plus_value
  %tr
    %td.title Fragment Tolerance (-)
    %td= sip.fragment_tol_minus_value
