%tr
  %td{:colspan => 2}
    = link_to "> PSI-MS CV Params", '#', :data => {'pdp-cvp-id' => "#{pdp.id}"}, class: "inner_link", remote: true
    %table#pdp_cvp.my_table.inner{:data => {'pdp-cvp-id' => "#{pdp.id}"}}
      - pdp.pdp_psi_ms_cv_terms.each do |cvp|
        %tr
          %td.title= cvp.psi_ms_cv_term_accession
          %td= cvp.ms_term_name
          %td= cvp.value if cvp.value
            
