%tr
  %td{:colspan => 2}
    = link_to "> User Params", '#', :data => {'pdp-up-id' => "#{pdp.id}"}, remote: true
    %table#pdp_up.my_table.inner{:data => {'pdp-up-id' => "#{pdp.id}"}}
      - pdp.pdp_user_params.each do |up|
        %tr
          %td.title= up.name
          %td= up.value          
