- if  @pdhs.blank?
  %tr
    %td{:colspan => 6, :style=> "text-align:center"}No Protein Detection Hypotheses? WTF, this is not possible, I can write whatever here, this is not going to ever happen or be displayed, is it?
- else
  = @pdhs.each_with_index do |pdh, i|
    %tr
      %td= link_to name="#{pdh.protein_ambiguity_group.protein_ambiguity_group_id.gsub("PAG", "PDH") + "_#{i+1}" }", 
      url={controller: "protein_detections", action: "protein_detection_hypothesis", pdh_id: pdh.id},
      options={remote: true, format: :js, data: {pdh_id: pdh.id}, class: "pdh_link"}
      %td= "#{pdh.db_seq_description}" 
      %td.center= pdh.pass_threshold
      %td.center= pdh.protein_detection_hypothesis_id
      - if pdh.cgdid
        %td= link_to image_tag("../assets/cgd_small_logo.png"),  "http://www.candidagenome.org/cgi-bin/locus.pl?dbid=#{pdh.cgdid}", target: '_blank'
      - else
        %td= "NA"

