%h2= "EXPERIMENT"
%h3= @protocol

%h3.table_header= "PROTEIN DETECTION"

%table{:id => "pd_table_#{@pd.id}", :class =>"my_table" }
  %tr
    %td.title Protein Detection ID
    %td= @pd.protein_detection_id 
  - if @pd.name
    %tr
      %td.title Protein Detection Name
      %td= @pd.name
  - if !@pd.protein_detection_list.blank?
    %tr
      %td.title Protein Detection List
      %td= @pd.protein_detection_list.pdl_id
  - if @pdp
    %tr
      %td.title Protein Detection Protocol ID
      %td= "#{@pdp.pdp_id} "+ " #{@pdp.name}"
    %tr
      %td.title Analysis Software
      %td= @pdp.analysis_software

  -unless @pdp.pdp_psi_ms_cv_terms.blank?
    = render partial: "pdp_psi_ms_cv_terms", locals: {pdp: @pdp}

  -unless @pdp.pdp_user_params.blank?
    = render partial: "pdp_user_params", locals: {pdp: @pdp}  



%h3.table_header
  = "Protein Ambiguity Groups"
  = link_to image_tag("../assets/info.png", class: "info_img"), '#', :data => {'info-link' => "pag_info"}, remote: true
%div#pag_info.info= "A set of logically related results from a protein detection, for example to represent conflicting assignments of peptides to proteins"
%table#pag_table.my_table{:data => {'pdl-id' => "#{@pdl.id}", 'source' => mzid_file_protein_detections_url(format: "json") } }
  %thead
    %tr
      %th Protein Group ID
      %th Protein Accession(s) in group
      -#%th Protein Accessions
  %tbody
  

%h3.table_header
  = "Protein Detection Hypothesis/Hypotheses" 
  = link_to image_tag("../assets/info.png", class: "info_img"), '#', :data => {'info-link' => "pdh_info"}, remote: true
%div#pdh_info.info= "A single result of the ProteinDetection analysis (i.e. a protein)"
%table#pdh_table.my_table
  %thead
    %tr
      %th.pdh_id PDH ID
      %th.protein_description Protein Description
      %th pass thrshld
      %th name
      %th CGD ID
  %tbody
    %tr
      %td{:colspan => 5, :style=> "text-align:center"}Protein detection hypothesis. Single result of the Protein Detection analysis


%h3.table_header= "Protein Detection Hypothesis PSI-MS CV Parameters "
%table#pdh_cvp.my_table
  %tbody
    %tr
      %td.empty= "PSI-MS CV terms, names and value"


%h3.table_header= "Protein Detection Hypothesis User Parameters "
%table#pdh_up.my_table
  %tbody
    %tr
      %td.empty= "User-defined Parameters"


%div#protein_sequence.peptide_protein_map
  %p.empty PROTEIN SEQUENCE



%h3.table_header= "Peptide Spectrum Matches"
%table#psms_table.my_table
  %thead
    %tr
      %th Spectrum Identification Item
      /%th calc m/z
      /%th exp m/z
      /%th rank
      /%th charge
      /%th pass thrshld
      %th.peptide_sequence Peptide Sequence
      
  %tbody








