- if  @spectrum_identification_items.blank?
  %tr
    %td{:colspan => 6, :style=> "text-align:center"}No Spectrum Identification Items found
- else
  = @spectrum_identification_items.each do |sii|
    %tr
      - if @fragments.blank?
        %td= "#{sii.sii_id.gsub(/_Mzid_\d+/, "")}"
      -else      
        %td= link_to name="#{sii.sii_id.gsub(/_Mzid_\d+/, "")}", 
        url={action: "identification_item", sii_id: sii.id},
        options={remote: true, format: :js, data: {sii_id: sii.id}, class: "sii_link"}      
      %td.center= sii.calc_m2z
      %td.center= sii.exp_m2z
      %td.center= sii.rank
      %td.center= sii.charge_state
      %td.center= sii.pass_threshold    
      %td.center= sii.spectrum_identification_result.spectrum_identification_list.spectrum_identification.si_id
      %td= sii.spectrum_identification_result.spectrum_identification_list.spectrum_identification.mzid_file.name


