%h2 .mzid Files
-if @all_mzid_files.blank?
  %p No stored .mzid files
-else 
  -@all_mzid_files.each do |mzidf|
    %box
      Experiment: #{Experiment.find(mzidf.experiment_id).protocol}
      %br
      Mzid file: #{mzidf.name}      
      %br
      Sha-1: #{mzidf.sha1}
      %br
      Submission date: #{mzidf.submission_date}
      %p
      -if mzidf.spectrum_identifications.blank?
        =button_to 'Load 2 DB', action: :load, :id => mzidf.id

%br
%p= link_to "New mzid file", :controller => 'admin/mzid_files', :action => :new

