%h2 Upload .mzid File

%p
= form_for [:admin, @mzid_file], :url => {:action => "create"}, html: {class: "my_form"} do |f|

  - @experiments.each do |exp|
    %label
      = f.radio_button(:experiment_id, "#{exp.id}") 
      = exp.short_label

  - if @mzid_file.errors.any?
    %ul.error_list
      - for message in @mzid_file.errors.full_messages
        %li= message
  
  %p=f.file_field 'uploaded_file'

  %p=f.submit 'Create .mzid file', class: "my_button"
