%h2 Upload .mzid File

%p
= form_for [:admin, @mzid_file], :url => {:action => "create"}, html: {class: "my_form"} do |f|
  - if @mzid_file.errors.any?
    %ul
      - for message in @mzid_file.errors.full_messages
        %li= message
  - @experiments.each do |exp|
    %label
      -#= "exp es #{exp}"
      = f.radio_button(:experiment_id, "#{exp.id}")
      = exp.protocol
  
  %p=f.file_field 'uploaded_file'

  %p=f.submit 'Create .mzid file', class: "my_button"
