%b= "Spectra acquisition runs for mzid file: #{@mzid_file_name}"
%p
  -if @spectra_acquisition_runs.blank?
    #{@mzid_file_name} has no associated spectra acquisition runs
    %p   
      =form_tag({:controller => "spectra_acquisition_runs", :action => "new"}, :method => "get") do
        =submit_tag("New spectra acquisition run")    
  -else 
    -@spectra_acquisition_runs.each do |msrun|
      Spectra Acquisition Run #{msrun.id}: 
      %br
      Instrument: #{msrun.instrument}
      %br
      Ionization: #{msrun.ionization}
    

