- if !params[:mzid_file_id]
  %b No mzid_file_id
- else 
  %b= "Spectra acquisition runs for mzid file: #{@mzid_file_name}"
  %p
    -if @spectra_acquisition_runs.blank?
      #{@mzid_file_name} has no associated spectra acquisition runs
      %p= link_to 'Add new spectra data', spectra_acquisition_run_path(@mzid_file_id)
 
    -else
      -@spectra_acquisition_runs.each do |msrun|
        Spectra Acquisition Run #{msrun.id}: 
        %br
        Instrument: #{msrun.instrument}
        %br
        Ionization: #{msrun.ionization}
    

