%b= "All Spectra acquisition runs for Sample: #{params[:sample_id]}"
%br
-if @spectra_acquisition_runs.blank?
  Sample with sample_id : #{params[:sample_id]} has no associated spectra_acquisition_runs
-else 
  -@spectra_acquisition_runs.each do |msrun|
    %p
      Spectra Acquisition Run #{msrun.id}: 
      %br
      Instrument: #{msrun.instrument}
      %br
      Ionization: #{msrun.ionization}
    
%p   
  =form_tag({:controller => "spectra_acquisition_runs", :action => "new"}, :method => "get") do
    =submit_tag("New spectra acquisition run")

-if !@spectra_acquisition_runs.blank?

  %b - OR -

  %p
    =form_tag({:controller => "mzid_files", :action => "new"}, :method => "get") do
      =hidden_field_tag :sample_id, params[:sample_id]
      =submit_tag("Upload mzid file")
