%div#home_div
  %div#home_left_col
    %p
      %b Proteopathogen2.0, a database and web tool to store and display Proteomics Identification Results in the MzIdentML standard format
    %p 
      Proteopathogen2.0 is a database-backed web application on shotgun Proteomics experiments addressed at
      the study of <i>Candida albicans</i> and other fungal pathogens and their interaction with the host.  
      It follows the idea first implemented in the original version of Proteopathogen, 
      =link_to 'proteopathogen.dacya.ucm.es', 'http://proteopathogen.dacya.ucm.es'
      =link_to '(Vialas 2009, Proteomics)', 'http://www.ncbi.nlm.nih.gov/pubmed/19743419'
    %p
      It stores peptide and protein identification results in a database that directly maps elements from 
      =link_to 'the mzIdentML standard', 'http://www.psidev.info/mzidentml', target: 'blank'
      , the HUPO-Proteomics Standard Initiative adopted "exchange format for peptides and proteins identified from mass spectra".
    
      The data consists of high confidence peptide and protein identifications coming from the
      =link_to 'Candida albicans PeptideAtlas',  'https://db.systemsbiology.net/sbeams/cgi/PeptideAtlas/buildDetails?atlas_build_id=323'
      =link_to '(Vialas 2014, Journal of Proteomics)', 'http://www.ncbi.nlm.nih.gov/pubmed/23811049'
      but Proteopathogen2.0 welcomes identification results in the MzIdentML format from experiments
      related to fungal pathogen proteomics.      

    = image_tag  "mzidentml.png"

  %div#home_right_col
    //-味味味味#= image_tag  "../assets/latge_and_calderone.png"
    //-#%p latge and calderone
    %table.my_table.shadow
      %tr
        %td.title Number of Experiments
        %td= @experiment_count
      %tr
        %td.title Number of .mzid files
        %td= @mzid_file_count
      %tr
        %td.title Peptide Spectrum Matches
        %td= @psm_count
      %tr
        %td.title Peptide Evidences
        %td= @peptide_evidence_count
      %tr
        %td.title Peptide Sequences
        %td= @peptide_sequence_count
      %tr
        %td.title Protein Detection Hypotheses
        %td= @pdh_count
      -#%tr
        -#%td.title DB Sequence Accessions
        -#%td= @distinct_dbseq_accession_count
      -#%tr
        -#%td.title Distinct proteins (sequence)
        -#%td= @dbseq_sequence_count
      %tr
        %td.title Candida distinct DB sequence accessions
        %td= @candida_decoy_filtered_dbseq_accs

    %p
      %b <i>Candida albicans</i> as a model organism to study fungal pathogens and their interaction with the host

    %p
      The opportunistic pathogenic fungus <i>Candida albicans</i>, under usual circumstances, 
      is a harmless resident commensal in  human mucous membranes of a large percentage of 
      the population. However, taking advantage of weakened host immune defenses, for instance
      in immunocompromised cancer or AIDS patients, it may switch to its pathogenic status, 
      overproliferating and becoming thus the main etiological agent of candidiasis, one of the
      most prevalent and costly types of fungal infections in global terms.

    = image_tag  "colonization_and_invasion.png"

    %p
      Whereas the yeast forms may colonize healthy individuals mucous membranes, 
      in the case of immunocompromised patients, the hyphal form, usually associated
      to the pathogenic status, may penetrate into the tissue. Then a switch back
      to yeast form enables dissemination through vessels.


    
-#%div#spectrum_test
-#  %div#tooltip.hidden
-#    %span#value= ""
-#  %div#checkboxthing
-#    = check_box_tag 'y_ions', 'yes', true
-#    Show y ions
