%h2 Spectrum Identification Protocols And Spectra Acquisition Runs
%br
%h3= "Experiment: #{@protocol}"
-@spectra_acquisition_runs.each do |sar|
  %table.my_table
    %tr
      %td.title{:rowspan => 6} Spectra Acquisition Run
    %tr
      %td.title Input Spectra File:
      %td= sar.spectra_file
    %tr
      %td.title Fraction:
      %td= sar.fraction
    %tr
      %td.title Instrument:
      %td= sar.instrument
    %tr
      %td.title Ionization:
      %td= sar.ionization      
    %tr
      %td.title Analyzer:
      %td= sar.analyzer
    -sar.spectrum_identifications.each do |si|
      %tr
        %td{:colspan => 3}
          %table.my_table
            %tr
              %td.title{:rowspan => 8} Spectrum Identification Protocol
            %tr
              %td Analysis Software
              %td= si.spectrum_identification_protocol.analysis_software
            %tr
              %td Search Type
              %td= si.spectrum_identification_protocol.search_type
            %tr
              %td Threshold
              %td= si.spectrum_identification_protocol.threshold
            %tr
              %td Parent Tolerance (upper value)
              %td= si.spectrum_identification_protocol.parent_tol_plus_value
            %tr
              %td Parent Tolerance (lower value)
              %td= si.spectrum_identification_protocol.parent_tol_minus_value
            %tr
              %td Fragment Tolerance (upper value)
              %td= si.spectrum_identification_protocol.fragment_tol_plus_value
            %tr
              %td Fragment Tolerance (lower value)
              %td= si.spectrum_identification_protocol.fragment_tol_minus_value
            -if si.spectrum_identification_protocol.sip_psi_ms_cv_terms
              %table.my_table
                %tr
                  %td.title{:rowspan => si.spectrum_identification_protocol.sip_psi_ms_cv_terms.count * 2 + 1}PSI-MS CV terms            
                - si.spectrum_identification_protocol.sip_psi_ms_cv_terms.each do |psiterm|
                  %tr 
                    %td PSI-MS cv Accession
                    %td= psiterm.psi_ms_cv_term_accession
                  %tr 
                    %td Name
                    %td= PsiMsCvTerm.where(:accession => psiterm.psi_ms_cv_term_accession)[0].name
            -if si.spectrum_identification_protocol.searched_modifications
              %table.my_table
                %tr             
                  %td.title{:rowspan => si.spectrum_identification_protocol.searched_modifications.count + 2}Searched Modifications            
                %tr
                  %td UNIMOD Accession
                  %td Residue
                  %td Fixed / Variable    
                  %td Mass Delta 
                - si.spectrum_identification_protocol.searched_modifications.each do |mod|
                  %tr 
                    %td= mod.unimod_accession
                    %td= mod.residue
                    %td= mod.is_fixed
                    %td= mod.mass_delta
