%table#exp_mzid_files_table.inner{:class => if exp.mzid_files.count > 5 then 'dataTable' end}
  %thead
    %tr
      %th.mzid_file_name .mzid File
      %th.submission_date submission date
      %th
      %th
  %tbody  
    -mzid_files.each do |mzidf|
      %tr
        %td= mzidf.name
        %td.center= mzidf.submission_date
        %td.center
          = link_to 'Spectrum Identification', mzid_file_spectrum_identifications_path(mzidf.slug), id:"mzidf_#{mzidf.id}_si", class: "flat_link"
        %td.center
          - if mzidf.includes_protein_detection
            =link_to 'Protein Detection', mzid_file_protein_detections_path(mzidf.slug), id: "mzid_file_#{mzidf.id}_protein_detection", class: "flat_link"
          - else
          
            No Protein Detection 
