%h2 EXPERIMENTS
-if @experiments.blank?
  %p No stored Experiments 
-else
  -@experiments.each do |exp|
    %table#exp_table.my_table
      %tr
        %td.title EXPERIMENT/PROTOCOL:
        %td= exp.protocol
      %tr
        %td.title Organism:
        %td= exp.organism
      %tr
        %td.title Contact:
        %td= exp.researcher
      %tr
        %td.title Date:
        %td= exp.date
      %tr
        %td{:colspan => 2}
          = render partial: "mzid_files", locals: {exp: exp, mzid_files: exp.mzid_files}
    
    -#%hr.separator
