%h2 EXPERIMENTS
-if @experiments.blank?
  %p No stored Experiments 
-else
  %table#index_exp_table.my_table.dataTable
    %thead
      %th EXPERIMENT short label
      %th.organism Organism
      %th.date Date
      %th Publication
    -@experiments.each do |exp|
      %tr
        %td= link_to "#{exp.short_label}", experiment_path(exp.slug)
        %td= exp.organism
        %td.center= exp.date
        - if exp.pmid
          %td.center= link_to "PubMed", "http://www.ncbi.nlm.nih.gov/pubmed/#{exp.pmid}", target: '_blank'
        -else
          %td


%p.center
  = link_to 'http://proteopathogen.dacya.ucm.es/experiments', target: '_blank' do
    more experiments in
    %span.proteopathgreen PROTEOPATHOGEN v.1.0
