%h2 new experiment
=form_for @experiment do |f|
  - if @experiment.errors.any?
    %ul
      - for message in @experiment.errors.full_messages
        %li= message
  %p
    = f.label :organism
    %br
    = f.text_field :organism
  %p
    = f.label :protocol
    %br
    = f.text_area :protocol
  %p    
    = f.label :date
    %br
    = f.text_field :date
  %p    
    = f.label :researcher
    %br
    = f.text_field :researcher
  %p
    = f.submit
