%h2 Experiment
=form_for @experiment do |f|
  %p
    = f.label :organism
    %b= @saving_experiment_errors[:organism] if @saving_experiment_errors
    %br
    = f.text_field :organism
  %p
    = f.label :protocol
    %b=@saving_experiment_errors[:protocol] if @saving_experiment_errors
    %br
    = f.text_area :protocol
  %p    
    = f.label :date
    %br
    = f.text_field :date
  %p    
    = f.label :researcher
    %br
    = f.text_field :researcher
  %p
    = f.submit
