%h2 new experiment
=form_for @experiment do |f|
  - if @experiment.errors.any?
    %ul
      - for message in @experiment.errors.full_messages
        %li= message
  %p
    = f.select :organism, options_for_select([['Candida albicans (strain SC5314 / ATCC MYA-2876) Taxonomy ID: 237561', "Candida albicans (strain SC5314 / ATCC MYA-2876)"]]), :prompt => 'Select species'
    
  %p
    = f.label :protocol
    %br
    = f.text_area :protocol
    
  %p    
    = f.date_select :date, :order => [:month, :year]

  %p    
    = f.label :researcher
    %br
    = f.text_field :researcher
  %p
    = f.submit
