%h2= "EXPERIMENT"
%h3= @exp.short_label

%table#exp_table.my_table{:class => if @exp.mzid_files.count < 5 then 'spaced' end}
  %tr
    %td.title EXPERIMENT short label:
    %td= @exp.short_label
  - if @exp.protocol
    %tr
      %td.title Protocol          
      %td 
        = link_to "view protocol description", '#', :data => {'exp-id' => "#{@exp.id}" },  remote: true
        #protocol{:data => {'exp-id' => "#{@exp.id}"}}=@exp.protocol
  %tr
    %td.title Organism:
    %td= @exp.organism
  %tr
    %td.title Contact:
    %td= @exp.researcher
  - if @exp.date
    %tr
      %td.title Date:
      %td= @exp.date
  - if @exp.pmid
    %tr
      %td.title Publication
      %td= link_to "PubMed", "http://www.ncbi.nlm.nih.gov/pubmed/#{@exp.pmid}", target: '_blank'
  %tr
    %td{:colspan => 2}
      = render partial: "mzid_files", locals: {exp: @exp, mzid_files: @exp.mzid_files}
