%b= "Saved .mzid File! (Experiment_id: #{@experiment_id} )"
%br
//="Name: #{@saved_mzid.name}"
="Name: #{@name}"
%br
//="Location: #{@saved_mzid.location}"
="Location: #{@location}"
%br
//="Submission Date: #{@saved_mzid.submission_date}"

//= form_tag new_mzid_file_spectra_acquisition_run_path  do
//  =hidden_field_tag :saved_mzid_id, @saved_mzid.id
//  %br
//  =submit_tag 'Go to Spectra Acq Data'
