%h2 .mzid Files
-if @all_mzid_files.blank?
  %p No stored .mzid files
-else 
  -@all_mzid_files.each do |mzidf|
    %p
      %b= "Experiment: #{Experiment.find(mzidf.experiment_id).protocol}"
      %br
      mzid file: #{mzidf.name}
      %br
      sha-1: #{mzidf.sha1}
      %br
      submission date: #{mzidf.submission_date}
      %br
      //-if !mzidf.spectra_acquisition_runs.blank
      =link_to ">>load 2 DB", :action => :load_into_db, :mzid_file_id => mzidf
      //-else
      //No information on spectra acquisition runs for this mzidfile

%p= link_to "New mzid file", :controller => :mzid_files, :action => :new

