%h2 Experiments
-if @all_mzid_files.blank?
  %p No stored .mzid files
-else
  -@all_mzid_files.each do |mzidf|
    %table.my_table
      %tr
        %td.title Experiment:
        %td= Experiment.find(mzidf.experiment_id).protocol
      %tr
        %td.title Mzid file:
        %td= mzidf.name
      %tr
        %td.title Sha-1:
        %td= mzidf.sha1
      %tr
        %td.title Submission date:
        %td= mzidf.submission_date
      %tr
        %td{:colspan => 2, :style=> "text-align:center"}= button_to 'Spectrum Identification', experiment_spectrum_identifications_path(mzidf.id), method: :get
