%h2 EXPERIMENTS
-if @all_mzid_files.blank?
  %p No stored .mzid files
-else
  -@all_mzid_files.each do |mzidf|
    %table{:id => "exp_table_#{mzidf.id}", :class =>"my_table" }
      %tr
        %td.title Experiment:
        %td= mzidf.experiment.protocol#Experiment.find(mzidf.experiment_id).protocol
      %tr
        %td.title Mzid file:
        %td= mzidf.name
      %tr
        %td.title Sha-1:
        %td= mzidf.sha1
      %tr
        %td.title Submission date:
        %td= mzidf.submission_date
      %tr
        %td{:colspan => 2, :style=> "text-align:center"}= link_to '> Spectrum Identification', experiment_spectrum_identifications_path(mzidf.id), :id => "si_#{mzidf.id}"
      %tr
        %td{:colspan => 2, :style=> "text-align:center"}= link_to '> Spectrum Identification Results', "#"
