%h2 .mzid Files
-if @all_mzid_files.blank?
  %p No stored .mzid files
-else 
  -@all_mzid_files.each do |mzidf|
    %p
      mzid file: #{mzidf.name}
      %br
      sha-1: #{mzidf.sha1}
      %br
      submission date: #{mzidf.submission_date}

//-if params[:experiment_id]
//  %p= link_to "Add new mzid file to experiment #{@experiment_id}", new_mzid_file_path
//-else
//  %p No experiment defined. Select experiment to add a related mzid file

%p= link_to "new", new_mzid_file_path

