= @peptide_evidences.each do |pep_ev|
  %tr
    %td= pep_ev.start
    %td= pep_ev.end
    %td= pep_ev.pre
    %td= pep_ev.post
    %td= pep_ev.is_decoy
    %td= pep_ev.db_sequence_id
    %td= pep_ev.peptide_sequence_id
