- if  @spectrum_identification_items.blank?
  %tr
    %td{:colspan => 6, :style=> "text-align:center"}No Spectrum Identification Items found
- else
  = @spectrum_identification_items.each do |sii|
    %tr
      %td= link_to name="#{sii.sii_id}", 
      url={controller: "spectrum_identification_results", action: "identification_item", sii_id: sii.id},
      options={remote: true, format: :js, data: {sii_id: sii.id}, class: "sii_link"}
      %td= sii.calc_m2z
      %td= sii.exp_m2z
      %td= sii.rank
      %td= sii.charge_state
      %td= sii.pass_threshold
  
-#    -unless sii.sii_psi_ms_cv_terms.blank?
-#      %tr
-#        %td{:colspan => 6}
-#          = render partial: "sii_psi_ms_cv_terms"
