= @spectrum_identification_items.each do |sii|
  %tr
    %td= link_to "#{sii.sii_id}", 'fragments', locals: {sii: sii.id}, remote: true, "data-type" =>  "json" #, format: json, generar el json con los fragmentos
    %td= sii.calc_m2z
    %td= sii.exp_m2z
    %td= sii.rank
    %td= sii.charge_state
    %td= sii.pass_threshold
