= @spectrum_identification_items.each do |sii|
  %tr
    %td= link_to "#{sii.sii_id}", controller: "spectrum_identification_results", action: "identification_item", remote: true, sii_id: sii.id
    %td= sii.calc_m2z
    %td= sii.exp_m2z
    %td= sii.rank
    %td= sii.charge_state
    %td= sii.pass_threshold
