- if  @peptide_evidences.blank?
  %tr
    %td.empty= "No peptide evidence(s) found"
- else
  - @peptide_evidences.each do |pep_ev|
    %tr
      %td.center= pep_ev.start
      %td.center= pep_ev.end
      %td.center= pep_ev.pre
      %td.center= pep_ev.post
      %td.center= pep_ev.is_decoy
      %td.center= pep_ev.db_sequence.accession
