%h3= @protocol
%h4= "Spectrum Identification: #{@si.si_id} - Spectrum Identification List:  #{@sil.sil_id}"
%br
%table#sir_table.my_table{:data => {'si-id' => "#{@si.id}"}}
  %thead
    %tr
      %th Spectrum Result ID
      %th Spectrum Name
      %th Spectrum ID
  %tbody
    = render @spectrum_identification_results





-#%div{:id => 'sii-wrapper'}
-#%div{:id => 'table-wrapper' , :class => 'sii'}
-#  %div{:id => 'table-scroll' }
-#    %table{:id => "sii_table", :class =>"my_table" }
-#      %tr
-#        %th Spectrum Identification Item
-#        %th Calculated m/z
-#        %th Expected m/z
-#        %th Rank
-#        %th Charge
-#        %th Pass threshold 
-#      = render partial: "spectrum_identification_item"


