%h3= "EXPERIMENT / MZID FILE:"
%h3= @protocol
%p
  %h4= "SPECTRUM IDENTIFICATION:"
  %h4= "Spectrum Identification: #{@si.si_id} - Spectrum Identification List:  #{@sil.sil_id}"

%p
  %h4= "Spectrum Identification Results"
%table#sir_table.my_table{:data => {'si-id' => "#{@si.id}", 'source' => spectrum_identification_results_url(format: "json") } }
  %thead
    %tr
      %th Spectrum Result ID
      %th Spectrum Name
      %th Spectrum ID
  %tbody

%br

%div#spectrum
  %div.spectrum_display_msg
    %p
      SPECTRUM IDENTIFICATION ITEM
  %div#tooltip.hidden
    %p
      %span#value= ""
  -#%div#checkboxthing
    -#= check_box_tag 'y_ions', 'yes', true
    -#Show y ions



%p
  %h4.sir= "Spectrum Identification Items" 
%table#sii_table.my_table
  %thead
    %tr
      %th.sii_id SII ID
      %th calc m/z
      %th exp m/z
      %th.r rank
      %th.z charge
      %th pass thrshld
  %tbody
    %tr
      %td{:colspan => 6, :style=> "text-align:center"}Spectrum Identification Items
    



