%h2= "EXPERIMENT"
%h3= @protocol

%h3.table_header= "SPECTRUM IDENTIFICATION"
%h4= "Spectrum Identification: #{@si.si_id} - Spectrum Identification List:  #{@sil.sil_id}"

%h3.table_header
  = "Spectrum Identification Results"
  = link_to image_tag("../assets/info.png", class: "info_img"), '#', :data => {'info-link' => "sir_info"}, remote: true
%div#sir_info.info= "All identifications made from searching one spectrum. For MS/MS data, there will be ranked SpectrumIdentificationItems corresponding to possible different peptide IDs"
%table#sir_table.my_table{:data => {'si-id' => "#{@si.id}", 'source' =>  spectrum_identification_results_url(format: "json") } }
  %thead
    %tr
      %th Spectrum Result ID
      %th Spectrum Name
      %th Spectrum ID
  %tbody
  
-#%div#sir_cvp.hidden
%h3.table_header= "Spectrum Identification Result PSI-MS CV Parameters "
%table#sir_cvp.my_table
  %tbody
    %tr
      %td.empty= "PSI-MS CV terms, names and value"


%h3.table_header= "Spectrum Identification Result User Parameters "
%table#sir_up.my_table
  %tbody
    %tr
      %td.empty= "User-defined Parameters"


%h3.table_header
  = "Spectrum Identification Items" 
  = link_to image_tag("../assets/info.png", class: "info_img"), '#', :data => {'info-link' => "sii_info"}, remote: true
%div#sii_info.info= "An identification of a single (poly)peptide, resulting from querying an input spectra, along with the set of confidence values for that identification"
%table#sii_table.my_table
  %thead
    %tr
      %th SII ID
      %th calc m/z
      %th exp m/z
      %th rank
      %th charge
      %th pass thrshld
  %tbody
    %tr
      %td{:colspan => 6, :style=> "text-align:center"}Spectrum Identification Items


%h3.table_header
  = "Peptide Evidence(s)"
  = link_to image_tag("../assets/info.png", class: "info_img"), '#', :data => {'info-link' => "pep_ev_info"}, remote: true
%div#pep_ev_info.info= "A peptide evidence links a specific Peptide element to a specific position in a DBSequence, If a specific sequence can be assigned to multiple proteins and or positions in a protein all possible PeptideEvidence elements are referenced here"
%table#pep_ev_table.my_table
  %thead
    %tr
      %th start
      %th end
      %th pre
      %th post
      %th is_decoy
      %th DB sequence
  %tbody
    %tr
      %td{colspan: 6, style: "text-align:center"}Peptide Evidence(s)


%div#spectrum

  %div.spectrum_display_msg
    %p
      SPECTRUM IDENTIFICATION ITEM

  -#%div#peptide_sequence
  
  -#%div#tooltip.hidden
  -#  %p
  -#    %span#value= ""
  
  -#%div#checkboxthing
    -#= check_box_tag 'y_ions', 'yes', true
    -#Show y ions


%h3.table_header= "Spectrum Identification Item PSI-MS CV Parameters "
%table#sii_cvp.my_table
  %tbody
    %tr
      %td.empty= "PSI-MS CV terms, names and value"


%h3.table_header= "Spectrum Identification Item User Parameters "
%table#sii_up.my_table
  %tbody
    %tr
      %td.empty= "User-defined Parameters"

