= "@sir_id es #{@sir_id}"
= "@spectrum_identification_items es #{@spectrum_identification_items}"
= "@spectrum_identification_items[0] es #{@spectrum_identification_items[0]}"
= "@spectrum_identification_items[0].sii_id es #{@spectrum_identification_items[0].sii_id}"
