
%h2 Sign Up
= form_for [:admin, @user], html: {class: "my_form"} do |f|
  -if @user.errors.any?
    %b Form is invalid
    %ul
      - for message in @user.errors.full_messages
        %li= message
  %p
    = f.label :email
  = f.text_field :email
  %p
    = f.label :password
  = f.password_field :password
  %p
    = f.label :password_confirmation
  = f.password_field :password_confirmation

  %p= f.submit 'Create User', class: "my_button"

