%h2 Spectra Acquisition Runs

- @mzid_files.each do |mzid|
  %table.my_table
    %tr
      %td.title MZID FILE
      %td= mzid.name
    - mzid.spectrum_identifications.each do |si|
      %tr
        %td{colspan:2}
          ="Input Spectra: #{si.si_id}"
          %table.my_table.inner
            - si.read_spectra_data_from_mzid.each do |is|
              %tr
                %td= is
                - if si.sar_input_spectra_files.include? is
                  %td.center "Input Spectra #{si.spectra_acquisition_runs.where(spectra_file: is)[0].id} already stored"
                - else
                  %td.center= link_to "add spectra acquisition data" , new_admin_spectra_acquisition_run_path(:si_id => si.id, :input_spectra_file => is)

          
