%h2 Spectra acquisition data for #{@input_spectra_file}
%h3 ( #{@mzid_file_name} )

= form_for [:admin, @spectra_acquisition_run], :url => {:action => "create"}, html: {class: "my_form"} do |f|
  - if @spectra_acquisition_run.errors.any?
    %ul
      - for message in @spectra_acquisition_run.errors.full_messages
        %li= message
  
  
  = f.label :fraction, "Describe sample (or fraction) obtention"
  %br
  =f.text_area :fraction
  
  =f.select :ionization, @ionization_types.collect { |i| [i.name, i.name] } , :prompt => 'Select ionization type'

  =f.select :analyzer, @analyzers.flatten.collect { |a| [a.name, a.name] } , :prompt => 'Select analyzer type'
  
  =f.select :instrument, @instruments.collect { |i| [i.name, i.name] } , :prompt => 'Select instrument model'
  
  =f.hidden_field :spectra_file,  value: @input_spectra_file
  
  =f.hidden_field :spectrum_identification_id, value: @si_id

  %p=f.submit 'Create Spectra Acquisition Data', class: "my_button"
  
