%h2 Spectra acquisition data for #{@input_spectra_file}
=form_for [:admin, @spectra_acquisition_run] do |f|
  - if @spectra_acquisition_run.errors.any?
    %ul
      - for message in @spectra_acquisition_run.errors.full_messages
        %li= message
  %p
    = f.label :fraction
    %br
    = f.text_field :fraction
  %p
    = f.label :instrument
    %br
    = f.text_field :instrument
  %p
    = f.label :ionization
    %br
    = f.text_field :ionization
  %p
    = f.label :analyzer
    %br
    = f.text_field :analyzer
  %p
    = f.hidden_field :spectra_file, {:value => @input_spectra_file}
    %br
  %p
    = f.hidden_field :spectrum_identification_id,  {:value => @si_id}
    %br    
  %p
    = f.submit
