!!! Strict 
/Compiled to <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en")
  %head
    %meta{'http-equiv' => "Content-type", :content => "text/html", :charset => "utf-8" }
    %meta{:name => "keywords", :content => "proteomics Candida albicans host pathogen" }
    %link{:rel => "icon", :href => "#{asset_path('g3360.png')}"}
    %title Proteopathogen
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    %div.wrapper
    
      %header
        =image_tag("proteopathogen_logo.png")

        %nav_links
          %ul
            %li=link_to 'home', '/'
            %li=link_to 'browse', experiments_path
            %li=link_to 'search', search_path
            %li=link_to 'about', about_path 
            - if current_user
              %li="logged in as #{current_user.email}"
              %li= link_to 'log out', log_out_path
            - else
              %li=link_to 'log in', log_in_path
             
        -# flash.each do |name, msg|
          -#= content_tag :div, msg, :id => "flash_#{name}"
          

      %content

        %div#quick_search
          = form_tag({controller: "search", action: "query"}, method: "get") do 
            = search_field_tag :search, params[:input] , value:'search Proteopathogen'
            = submit_tag "Search" 
      
        - if current_user
          %admin_links
            =link_to "Experiments", :admin_experiments
            =link_to "MzidFiles", :admin_mzid_files
            =link_to 'SpectraData', :admin_spectra_acquisition_runs

        =yield


      
      %div.push
      
    %div.footer
      =image_tag "proteopathogen_footer.png"
      

    


